<h1>Conversation with <%= @other_user.id %> </h1>
<div class='conversationWrapper'>

    <% @conversation.each do |m| %>
        <%  if m.sender_id == @other_user.id %>
            <%  class_filler = "recievedMessage" %>
        <% else %>
            <%  class_filler = "sentMessage"  %>
        <% end %>
        <div class='messageWrapper <%= class_filler %>'>
            <p class='senderName'><%= m.sender_id %></p>
            <p class='messageContent'><%= m.content %></p>
            <p class='messageTimestamp'>Sent: <%= Time.at(m.created_at).to_datetime %></p>
        </div>
    <% end %>

    <div class="newMessageForm">
    <form method='POST' action='/messages'>
        <textarea rows='5' cols='50' name='message[content]'></textarea>
        <input type='submit' value='Send' class="sendButton">
    </form>
    </div>

</div>

